<% layout("/layouts/boilerplate.ejs") %>

<div class="show_page_main_div">
  <div class="show_page_img_div">
    <img src="<%= listing.image %>" alt="listing_img" />
  </div>
  <div class="show_page_details_div">
    <p><b>Title : </b><%= listing.title %></p>
    <p><b>Description : </b><%= listing.description %></p>
    <p><b>Price : </b>&#8377;<%= listing.price %></p>
    <p><b>Location : </b><%= listing.location %></p>
    <p><b>Country : </b><%= listing.country %></p>
  </div>
  <div class="edit_delete_btns_div">
    <form action="/listings/<%= listing._id %>/edit" method="get">
      <button>Edit Listing</button>
    </form>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
      <button>Delete Listing</button>
    </form>
  </div>
</div>
